@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Oswald:wght@200;300;400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Michroma&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Space+Grotesk:wght@300..700&display=swap');

@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

.font-comfortaa {
  font-family: "Comfortaa", sans-serif;
}
.font-inter {
  font-family: "Inter", sans-serif;
}
.font-raleway {
  font-family: "Raleway", sans-serif;
}

.font-grotesk {
  font-family: "Space Grotesk", sans-serif;
}

.font-oswald {
  font-family: "Oswald", sans-serif;
}
.font-poppins {
  font-family:"Poppins", sans-serif;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

.cloud-float {
  animation: float 4s ease-in-out infinite;
}
@layer utilities {
  @keyframes spin-slow {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .animate-spin-slow {
    animation: spin-slow 8s linear infinite;
  }
}

@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.animate-marquee {
  animation: marquee 150s linear infinite;
  display: flex;
  width: max-content;
}


@keyframes pulse-slow {
  0% { transform: scale(1); opacity: .8; }
  50% { transform: scale(1.3); opacity: 1; }
  100% { transform: scale(1); opacity: .8; }
}

@keyframes pulse-slower {
  0% { transform: scale(1.2); opacity: .7; }
  50% { transform: scale(1.5); opacity: 1; }
  100% { transform: scale(1.2); opacity: .7; }
}

.animate-pulse-slow { animation: pulse-slow 6s infinite ease-in-out }
.animate-pulse-slower { animation: pulse-slower 9s infinite ease-in-out }
.animate-spin-slow { animation: spin 4s linear infinite }
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}
@keyframes scroll-col {
  0% {
    transform: translateY(-10%);
  }
  100% {
    transform: translateY(-50%);
  }
}

.animate-col1 {
  animation: scroll-col 130s linear infinite;
}

.animate-col2 {
  animation: scroll-col 114s linear infinite;
}

.animate-col3 {
  animation: scroll-col 130s linear infinite;
}
@keyframes floating {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-6px); }
  100% { transform: translateY(0px); }
}

.animate-floating {
  animation: floating 6s ease-in-out infinite;
}
